/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 18, 2022, 10:42:38 AM
    Author     : marit
*/

#marteimage{
    -fx-background-image: url('AguaMarte.jpeg');
    -fx-background-size: 100% 100%;
}